body{
  display: flex;
  justify-content: center;
}

#root{
  width: 100%;
}

h1{
  text-align: center;
}

.total-task{
  text-align: center;
}

.todo{
  display: flex;
  margin: 1em;
}

.todo-list{
  border-style: solid;
  border-color: gray;
  padding: 2px;
  width: 20%;
}

.todo-list:nth-child(n+2) {
  border-left: 0px;
}

.todo-list h3{
  text-align: center;
  margin: 5px;
}

.todo-list p{
  text-align: center;
  margin: 0px;
  margin-bottom: 10px;
  font-size: 0.5em;
  color:gray;
  font-weight: bold;
}

.todo-item{
  display: flex;
  border-style: solid;
  border-color: grey;
  border-width: 1px;
  height: 18px;
  margin: 2px;
}

.todo-item-input{
  width: 100%;
  display: flex;
  justify-content: center;
  align-content: center;
}

.todo-item-input [type="text"]{
  width: 100%;
  font-size: xx-small;
  border-width: 0px;
  height: 15px;
  align-self: center;
}

.todo-item-input [type="checkbox"]{
  align-self: center;
}

.task-done{
  background-color: lightgray;
  color: white;
  text-decoration-line: line-through;
}
.todo-item-menu{
  display: flex;
}

.todo-item-menu button{
  padding: 1px;
  background-color: white;
}